<div class="container-fluid">
<div class="jumbotron">
    <h1>League</h1>
</div>
<h4>Current Leagues</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead class="thead-dark">
    <tr>
	<th>League</th>
	<th>Edit</th>
	<th>Delete</th>
    </tr>
</thead>
<tbody>
{{#each allLeagueInfo}}
    <tr>
	<td>{{league_name}}</td>
	<form action="league/edit/{{league_id}}" method="get" onsubmit="return confirmEdit('{{league_name}}')">
	  <td><input type="submit" value="Edit"></td>
	</form>
	<form action="/league/delete/{{league_id}}" method="get" onsubmit="return confirmDelete()">
	  <td><input type="submit" value="Delete"></td>
	</form>
    </tr>
{{/each}}
</tbody>
</table>
</div>
<br>
<form action="/league" method="post" name="leagueForm" onsubmit="return validateLeagueForm()">
    <fieldset>
	<legend>Add New League</legend>
	<div class="form-row">
	  <label for="league_name">League Name</label>
	  <input class="form-control" type="text" name="league_name" id="league_name">
	</div>
	<br>
	<div class="form-row">
	  <input class="form-control btn btn-primary" type="submit">
	</div>
    </fieldset>
</form>
</div>
