<div class="container-fluid">
<div class="jumbotron">
    <h1>Position</h1>
</div>
<h4>Current Positions</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead class="thead-dark">
    <tr>
	<th>Position</th>
	<th>Edit</th>
	<th>Delete</th>
    </tr>
</thead>
<tbody>
{{#each allPositionInfo}}
    <tr>
	<td>{{position_name}}</td>
	<form action="position/edit/{{position_id}}" method="get" onsubmit="return confirmEdit('{{position_name}}')">
	  <td><input type="submit" value="Edit"></td>
	</form>
	<form action="/position/delete/{{position_id}}" method="get" onsubmit="return confirmDelete()">
	  <td><input type="submit" value="Delete"></td>
	</form>
    </tr>
{{/each}}
</tbody>
</table>
</div>
<br>
<form action="/position" method="post" name="positionForm" onsubmit="return validatePositionForm()">
    <fieldset>
	<legend>Add New Position</legend>
	  <div class="form-row">
	    <label for="position_name">Position Name</label>
	    <input class="form-control" type="text" name="position_name" id="position_name">
	  </div>
	  <br>
	  <div class="form-row">
	    <input class="form-control btn btn-primary" type="submit">
	  </div>
    </fieldset>
</form>
</div>
